{% comment %} {% load static %}
{% block footer %}
    <footer class="d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <ul class="nav-item">
                        <li class="ms-3">
                            <a class="text-success"
                               href="https://twitter.com/ZIUGOD"
                               target="_blank">Twitter</a>
                        </li>
                        <li class="ms-3">
                            <a class="text-success"
                               href="https://www.instagram.com/playa.ziu"
                               target="_blank">Instagram</a>
                        </li>
                        <li>
                            <a href="https://github.com/ZIUGOD" target="_blank" class="text-success">GitHub</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm">
                    <ul class="nav-item">
                        <li class="ms-3">
                            <a class="text-success"
                               href="https://twitter.com/ZIUGOD"
                               target="_blank">Twitter</a>
                        </li>
                        <li class="ms-3">
                            <a class="text-success"
                               href="https://www.instagram.com/playa.ziu"
                               target="_blank">Instagram</a>
                        </li>
                        <li>
                            <a href="https://github.com/ZIUGOD" target="_blank" class="text-success">GitHub</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endblock footer %} {% endcomment %}
