{% extends "components/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/notes/index.css' %}">
{% endblock head %}

{% block content %}
    {% if notes %}
        <div id="notes-container">
            <ul id="notes-list">
                {% for note in notes %}
                    <li class="list-group-item" data-title="{{ note.title }}">
                        <a id="note-{{ note.id }}" href="{% url 'note:read_note' note.id %}">
                            <h3 class="note-title mx-2">{{ note.title }}</h3>
                        </a>
                        <div>
                            <span class="text-success m-0 p-0">{{ note.author }}</span>
                            {% if note.is_private %}
                                <span class="text-danger">PRIVATE</span>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p id="no-notes-message" class="text-center m-2 p-1">Nenhuma nota disponível.</p>
    {% endif %}

    <div id="pagination-container">
        <nav aria-label="pagination">
            <div class="pagination">
                {% if page_obj.has_previous %}
                    <a id="previous-page" href="?page={{ page_obj.previous_page_number }}" class="btn">
                        Previous ({{ page_obj.previous_page_number }})
                    </a>
                {% endif %}

                {% if page_obj.paginator.num_pages > 1 and page_obj.number > 3 %}
                    <a id="page-1" href="?page=1" class="btn">1</a>
                {% endif %}
                {% if page_obj.paginator.num_pages > 2 and page_obj.number > 3 %}
                    <a id="page-2" href="?page=2" class="btn">2</a>
                {% endif %}

                {% if page_obj.has_next %}
                    <a id="next-page" href="?page={{ page_obj.next_page_number }}" class="btn">
                        Next ({{ page_obj.next_page_number }})
                    </a>
                {% endif %}

                {% if page_obj.paginator.num_pages > 5 and page_obj.number != page_obj.paginator.num_pages %}
                    <a id="last-page" href="?page={{ page_obj.paginator.num_pages }}" class="btn">
                        Last ({{ page_obj.paginator.num_pages }})
                    </a>
                {% endif %}
            </div>
        </nav>
    </div>
    {% if page_obj.paginator.num_pages > 1 %}
        <p id="page-info">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
        {% if page_obj.number == page_obj.paginator.num_pages %}
            <p class="text-center">Last page</p>
        {% endif %}
    {% endif %}

    {% include "components/footer.html" %}
{% endblock content %}
