{% extends "components/base.html" %}
{% block title %}
    - {{ nyra_user.username }}
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container border border-2 rounded-4 p-1">
        <div class="d-flex flex-column align-items-center justify-content-center p-2 border border-2 rounded-4 shadow m-2 text-center bg-dark text-white">
            <h3 class="text-center">{{ nyra_user.first_name }} {{ nyra_user.last_name }}</h3>
            <ul class="list-group list-group-flush text-start bg-dark rounded-3">
                <li class="list-group-item bg-dark text-light">@{{ nyra_user.username }}, {{ nyra_user.id }}</li>
                {% if nyra_user.first_name %}
                    <li class="list-group-item bg-dark text-light">
                        <strong>Name:</strong> {{ nyra_user.first_name }} {{ nyra_user.last_name }}
                    </li>
                {% endif %}
                {% if nyra_user.email %}<li class="list-group-item bg-dark text-light">{{ nyra_user.email }}</li>{% endif %}
                <li class="list-group-item bg-dark text-light">Member since {{ nyra_user.date_joined }}</li>
                <li class="list-group-item bg-dark text-light">
                    <strong>Notes:</strong> {{ nyra_user.user_notes.all|length }}
                </li>
                <li class="list-group-item bg-dark text-light">
                    <strong>Biography:</strong> {{ nyra_user.profile.biography|default:"Hello there! I am using Nyra!" }}
                </li>
                {% if nyra_user.is_staff %}
                    <li class="list-group-item bg-dark text-light">
                        <strong>Staff</strong>
                    </li>
                {% endif %}
                {% if nyra_user.is_superuser %}
                    <li class="list-group-item bg-dark text-light">
                        <strong>Admin</strong>
                    </li>
                {% endif %}
            </ul>
        </div>
        {% if nyra_user.user_notes.all %}
            <h3 class="text-center my-4">Notes from {{ nyra_user.username }}</h3>
            <ul id="unordered-list"
                class="list-group d-flex flex-column justify-content-center">
                {% for note in nyra_user.user_notes.all %}
                    <a href="{% url "read_note" note.id %}"
                       class="text-decoration-none m-1 shadow text-center bg-dark border border-2 border-black rounded-4 my-1">
                        <li class="list-group-item">
                            <h3 class="h3 text-break">{{ note.title|safe }}</h3>
                        </li>
                    </a>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock content %}
