@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

::selection {
    background-color: #00ff00;
    color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1em;
    color: lime;
    background-color: black;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    transition: 0.3s;
}

body {
    background: black;
}

.alert {
    background-color: black;
    border: 0.2em solid lime;
    border-radius: 1em;
}

/* width */
::-webkit-scrollbar {
    width: 1.2em;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 1em;
    background-color: #222222;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 1em;
    border: 0.2em solid lime;
    box-shadow: 0 0 1em lime;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}