[id^="delete-note-button-"],
[id^="edit-note-button-"],
[id^="back-button-"],
[id^="create-note-button-"] {
    border: 0.2em solid lime;
    border-radius: 99em;
    color: lime;
}

[id^="delete-note-button-"]:hover,
[id^="edit-note-button-"]:hover,
[id^="back-button-"]:hover,
[id^="create-note-button-"]:hover {
    color: black;
    background-color: lime;
    box-shadow: 0 0 1em lime;
}

#cke_id_text,
#cke_1_bottom,
#cke_1_contents {
    border: 0.2em solid lime;
    text-shadow: 0 0 0.5em lime;
    background-color: white;
}

textarea {
    border: 2em solid gold;
    background-color: black;
}

#div_id_is_private {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 1em 0 0 0;
}