h3,
#no-notes-message,
#page-info {
    color: lime;
    font-size: 1em;
}

#notes-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.list-group-item {
    border-color: lime;
}

[id^="note-"] {
    display: inline-block;
    color: pink;
}

#notes-list .list-group-item a {
    text-decoration: none;
    color: lime;
}

.btn {
    color: lime;
    border: 0.2em solid lime;
    border-radius: 100em;
    padding: 0.5em;
}

.btn:hover {
    color: black;
    background-color: lime;
    box-shadow: 0 0 1em lime;
}