h3, #no-notes-message, #page-info {
    color: lime;
}

#notes-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    text-align: center;
}

.list-group-item{
    border-color: lime;
}

#notes-list .list-group-item a {
    text-decoration: none;
    color: lime;
}

