{% extends "components/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/members/login.css' %}">
{% endblock head %}
{% block title %}
    - Login
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
    <div id="login-container">
        <h2 class="neon-header">LOGIN TO NOTESNAP</h2>
        <form method="post" id="login-form" role="form" aria-label="Login to NoteSnap">
            {% csrf_token %}
            <div class="form-content">
                {% crispy form %}
                <div class="d-flex justify-content-center gap-3">
                    <button type="submit" class="btn login-btn">login</button>
                </div>
                <p class="signup-link">
                    New to NoteSnap? <a href="{% url 'member:signup_user' %}" class="create-account-link">CREATE ACCOUNT</a>
                </p>
            </div>
        </form>
    </div>
    {% include "components/footer.html" %}
{% endblock content %}