{% extends "components/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/members/signup.css' %}">
{% endblock head %}
{% block title %}
    - Sign Up
{% endblock title %}
{% block content %}
    <form method="post"
          id="signup-form"
          class="d-flex flex-column align-items-center justify-content-center p-3 m-2 text-center">
        <div class="text-center" id="form-content">
            {% load crispy_forms_tags %}
            {% crispy form %}
            <input type="submit"
                   id="submit-button"
                   class="m-2 py-2 px-3 btn btn-secondary"
                   value="Submit">
            <p class="text-center mt-5" id="login-link">
                Already have an account? <a id="sign-in-link" href="{% url 'member:login_user' %}">Sign in</a>
            </p>
        </div>
    </form>
{% endblock content %}
