{% extends "components/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/members/signup.css' %}">
{% endblock head %}
{% block title %}
    - Sign Up
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
    <div id="signup-container">
        <h2 class="neon-header">CREATE YOUR NOTESNAP ACCOUNT</h2>
        <form method="post" id="signup-form" role="form" aria-label="Sign up to NoteSnap">
            {% csrf_token %}
            <div class="form-content">
                {% crispy form %}
                <div class="d-flex justify-content-center gap-3">
                    <button type="submit" class="btn signup-btn">Sign Up</button>
                </div>
                <p class="login-link">
                    Already have an account? <a href="{% url 'member:login_user' %}" class="sign-in-link">SIGN IN</a>
                </p>
            </div>
        </form>
    </div>
    {% include "components/footer.html" %}
{% endblock content %}
