{% extends "components/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/members/user_profile.css' %}">
{% endblock head %}

{% block title %}- {{ notesnap_user.username }}{% endblock title %}

{% block content %}
<div id="user-profile" class="container p-1">
    <div id="profile-info" class="d-flex flex-column align-items-center justify-content-center p-4 shadow m-0 text-center neon-box">
        <h3 id="profile-name" class="neon-text mb-3">
            <strong>{{ notesnap_user.first_name|capfirst }} {% if notesnap_user.last_name %}{{ notesnap_user.last_name|capfirst }}{% endif %}</strong>
        </h3>
        <ul id="profile-details" class="list-group list-group-flush text-center w-100 neon-list">
            <li id="username" class="list-group-item neon-list-item">
                <strong>@{{ notesnap_user.username }}</strong>, {{ notesnap_user.id }}
            </li>
            {% if notesnap_user.first_name %}
            <li id="full-name" class="list-group-item neon-list-item">
                {{ notesnap_user.first_name|capfirst }} {{ notesnap_user.last_name|capfirst }}
            </li>
            {% endif %}
            <li id="joined-date" class="list-group-item neon-list-item">
                Member since {{ notesnap_user.date_joined|date:"Y-m-d" }}
            </li>
            <li id="notes-count" class="list-group-item neon-list-item">
                <strong>{{ notesnap_user.user_notes.all|length }} note{{ notesnap_user.user_notes.all|length|pluralize:"s" }}</strong>
            </li>
            <li id="biography" class="list-group-item neon-list-item">
                {{ notesnap_user.profile.biography|default:"Hello there! I am using NoteSnap!" }}
            </li>
            {% if notesnap_user.is_superuser %}
            <li id="admin-status" class="list-group-item neon-list-item text-danger">
                <strong>Admin</strong>
            </li>
            {% endif %}
        </ul>
    </div>

    {% if user_notes %}
    <h3 id="notes-heading" class="text-center neon-text my-4">Notes from {{ notesnap_user.username }}</h3>
    <ul id="user-notes" class="list-group d-flex flex-column justify-content-center">
    {% for note in user_notes %}
    <li class="list-group-item m-1 note-list-item">
        <a href="{% url 'note:read_note' note.id %}" class="note-link text-decoration-none d-block w-100 neon-text">
            <h3 class="h3 text-break">{{ note.title }}</h3>
            {% if note.is_private %}
                <span class="text-danger">PRIVATE</span>
            {% endif %}
        </a>
    </li>
    {% endfor %}
    </ul>
    {% else %}
    <h3 id="no-notes" class="text-center neon-text my-4">No notes from {{ notesnap_user.username }}</h3>
    {% endif %}
</div>
{% endblock content %}
