{% extends "components/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/notes/detail_note.css' %}">
{% endblock head %}
{% load crispy_forms_tags %}
{% block title %}
    - Note by {{ note.author.username }}
{% endblock title %}
{% block content %}
    <form method="post"
          action="{% url 'note:read_note' note.id %}"
          class="d-flex flex-column p-1"
          id="note-form-{{ note.id }}">
        {% csrf_token %}
        <h2 class="text-break h2 m-2 font-weight-normal text-center"
            id="note-title-{{ note.id }}">{{ note.title }}</h2>
        {% if note.is_private %}<span class="text-danger text-center">PRIVATE</span>{% endif %}
        <hr />
        <div class="p-1 text-wrap" id="note-text-{{ note.id }}">{{ note.text }}</div>
        <div class="text-center m-3" id="note-metadata-{{ note.id }}">
            <span>{{ note.created_at }} by <a href="{% url 'member:user_profile' note.author.username %}">{{ note.author.username }}</a></span>
        </div>
        {% if note.created_at != note.updated_at %}
            <div class="text-center" id="note-edited-{{ note.id }}">
                <span>Edited</span>
            </div>
        {% endif %}
    </form>
    <div class="text-center my-3 mb-5 d-flex justify-content-center align-items-center"
         id="note-actions-{{ note.id }}">
        {% if user == note.author %}
            <form method="post"
                  action="{% url 'note:delete_note' note.id %}"
                  id="delete-note-form-{{ note.id }}">
                {% csrf_token %}
                <input type="submit"
                       value="DELETE"
                       onclick="return confirm('Confirm deletion?');"
                       class="m-2 py-2 px-3 btn"
                       id="delete-note-button-{{ note.id }}">
            </form>
            <a href="{% url 'note:update_note' note.id %}"
               class="m-2 py-2 px-3 btn"
               id="edit-note-button-{{ note.id }}">EDIT</a>
        {% endif %}
        <button type="button"
                onclick="window.history.back()"
                class="m-2 py-2 px-3 btn"
                id="back-button-{{ note.id }}">BACK</button>
    </div>
{% endblock content %}
