{% extends "components/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock head %}
{% block content %}
    <div id="notes-container" class="p-1">
        {% if notes %}
            <ul id="notes-list"
                class="d-flex flex-column justify-content-center list-group list-group-flush border p-1 rounded-3 shadow text-center">
                {% for note in notes %}
                    <a id="note-{{ note.id }}"
                       href="{% url 'note:read_note' note.id %}"
                       class="text-decoration-none text-center border border-0 rounded-2">
                        <li class="list-group-item bg-dark text-light p-2">
                            <h3 class="text-break h3">{{ note.title|safe }}</h3>
                            <span>{{ note.author }}</span>
                        </li>
                    </a>
                {% endfor %}
            </ul>
        {% else %}
            <p id="no-notes-message" class="text-center my-3">Nenhuma nota disponível.</p>
        {% endif %}
    </div>
    <div id="pagination-container"
         class="d-flex column justify-content-center align-items-center align-self-center text-center">
        <nav aria-label="pagination">
            <ul class="pagination">
                <div class="pagination">
                    {% if page_obj.has_previous %}
                        <a id="previous-page"
                           href="?page={{ page_obj.previous_page_number }}"
                           class="btn btn-warning mx-2">Previous page</a>
                    {% endif %}
                    {% if page_obj.paginator.num_pages > 1 %}<a id="page-1" href="?page=1" class="btn mx-2">1</a>{% endif %}
                    {% if page_obj.paginator.num_pages > 2 %}<a id="page-2" href="?page=2" class="btn mx-2">2</a>{% endif %}
                    {% if page_obj.has_next %}
                        <a id="next-page"
                           href="?page={{ page_obj.next_page_number }}"
                           class="btn btn-primary mx-2">Next page</a>
                    {% endif %}
                </div>
            </ul>
        </nav>
        {% if page_obj.paginator.num_pages > 1 %}
            <p id="page-info" class="text-center">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
        {% endif %}
    </div>
    {% include "components/footer.html" %}
{% endblock content %}
