{% extends "components/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/notes/index.css' %}">
{% endblock head %}
{% block content %}
    <div id="notes-container" class="p-1">
        {% if notes %}
            <ul id="notes-list"
                class="d-flex flex-column justify-content-center list-group list-group-flush p-1 text-center">
                {% for note in notes %}
                    <li class="list-group-item p-2 bg-black">
                        <a id="note-{{ note.id }}"
                           href="{% url 'note:read_note' note.id %}"
                           class="text-decoration-none text-center align-items-center justify-content-center">
                            <h3 class="text-break h3">{{ note.title|safe }}</h3>
                        </a>
                        <div>
                            <span class="text-success">{{ note.author }}</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p id="no-notes-message" class="text-center my-3">Nenhuma nota disponível.</p>
        {% endif %}
    </div>
    <hr>
    <div id="pagination-container"
         class="d-flex column justify-content-center align-items-center align-self-center text-center">
        <nav aria-label="pagination">
            <ul class="pagination">
                <div class="container">
                    {% if page_obj.has_previous %}
                        <a id="previous-page"
                           href="?page={{ page_obj.previous_page_number }}"
                           class="btn mx-2">Previous page ({{ page_obj.previous_page_number }})</a>
                    {% endif %}
                    {% if page_obj.paginator.num_pages > 1 and page_obj.number > 3 %}
                        <a id="page-1" href="?page=1" class="btn m-1">1</a>
                    {% endif %}
                    {% if page_obj.paginator.num_pages > 2 and page_obj.number > 3 %}
                        <a id="page-2" href="?page=2" class="btn m-1 mx-2">2</a>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <a id="next-page"
                           href="?page={{ page_obj.next_page_number }}"
                           class="btn m-1">Next page ({{ page_obj.next_page_number }})</a>
                    {% endif %}
                    {% if page_obj.paginator.num_pages > 5 and page_obj.number != page_obj.paginator.num_pages %}
                        <a id="last-page"
                           href="?page={{ page_obj.paginator.num_pages }}"
                           class="btn m-1">Last page ({{ page_obj.paginator.num_pages }})</a>
                    {% endif %}
                </div>
            </ul>
        </nav>
    </div>
    {% if page_obj.paginator.num_pages > 1 %}
        <p id="page-info" class="text-center">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
        {% if page_obj.number == page_obj.paginator.num_pages %}<p class="text-center">Last page</p>{% endif %}
    {% endif %}
    {% include "components/footer.html" %}
{% endblock content %}
